:root {
  --primary-color: #385542;
}
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-primary:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border-color: var(--primary-color) !important;
}
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(56, 85, 66, 0.5) !important;
}
.btn-outline-primary {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-outline-primary:hover {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-color: var(--primary-color) !important;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  border-color: var(--primary-color) !important;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(56, 85, 66, 0.5) !important;
}
.cardheader {
  background-color: var(--primary-color);
  padding: 16px 24px;
}
.cardheader h4 {
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 0px;
  font-size: 14px;
}
.cardheader h2 {
  color: #fff;
  margin-bottom: 0px;
}
.cardheader h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0px;
}
.cardcontents {
  padding: 16px 16px 0px 16px;
}
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#sidebar {
  box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03),
    0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
.sidebar {
  position: fixed;
  z-index: 2000;
  width: 36%;
  height: 96%;
  background-color: #fff;
  padding: 0px;
  border-radius: 8px;
  top: 1%;
  right: 1%;
  overflow-y: scroll;
  transition: all 0.5s ease;
}
.input-group-text {
  min-width: 48px;
}
.input-group {
  margin-top: 6px;
}
.expanded-results {
  position: fixed;
  z-index: 2000;
  width: 66%;
  height: 96%;
  background-color: #fff;
  padding: 0px;
  border-radius: 8px;
  top: 1%;
  right: 1%;
  overflow-y: scroll;
  transition: all 0.5s ease;
}

.layers {
  position: fixed;
  background-color: #fff;
  padding-bottom: 16px;
  border-radius: 8px;
  width: 11%;
  top: 228px;
  left: 0.5%;
  overflow-y: scroll;
  box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03),
    0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
.layers-toggle {
  top: 1%;
  left: 18%;
  z-index: 2000;
}
.layers-legend {
  top: 20%;
}
.esriLegendServiceLabel {
  font-weight: bold;
}
.toggle-buttons {
  position: fixed;
  padding-bottom: 24px;
  border-radius: 8px;
  left: 0.5%;
  z-index: 2000;
  width: 200px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03),
    0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
.toggle-buttons svg {
  margin-left: 8px;
}
.cluster-toggle {
  bottom: 308px;
}
.error-toggle {
  bottom: 220px;
}
.expand-toggle {
  bottom: 264px;
}
.toggle-input-result {
  position: fixed;
  padding-bottom: 24px;
  border-radius: 8px;
  bottom: 114px;
  left: 0.5%;
  z-index: 2000;
}
.input-result-toggle .pagination-lg {
  margin-bottom: 0px;
}
.layers p {
  color: #fff;
  margin: 0;
}

.chart-container {
  display: flex;
}

.chart {
  flex: 1 1 33%;
}

.tooltip-sidebar {
  z-index: 3001;
}

.years-pagination {
  overflow-x: scroll;
}

.years-page {
  height: 100%;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(56, 85, 66, 0.5) !important;
}
.progress-bar {
  background-color: var(--primary-color) !important;
}
.results-sidebar .text-primary {
  color: var(--primary-color) !important;
}
.page-link {
  color: var(--primary-color) !important;
}
.active .page-link {
  color: #fff !important;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
